<div th:fragment="navbar" id="hornav" class="container no-padding"
     xmlns:th="https://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security3"

>
    <div class="row" >
        <div class="col-md-12 no-padding">
            <div id="hornavZIndex" class="text-center visible-lg">

                <a text="Správa účtů" th:href="@{'/admin/Sprava_Ucty'}">Správa účtů</a>
                <a text="Správa produktů" th:href="@{'/admin/Sprava_Produkty'}">Správa produktů</a>
                <a text="Správa platforem" th:href="@{'/admin/Sprava_Platformy'}">Správa platforem</a>
                <a text="Správa stavů" th:href="@{'/admin/Sprava_Stavy'}">Správa stavů</a>
                <a text="Správa objednavek" th:href="@{'/admin/Sprava_Objednavek'}">Správa objednavek</a>
                <a text="Zpět do obchodu" th:href="@{'/SeznamHer'}">Zpět do obchodu</a>


                <Br>
                <p th:text="${hlaska} ?: ''"></p>

            </div>
        </div>
    </div>
</div>