<div th:fragment="navbar" id="hornav" class="container no-padding"
     xmlns:th="https://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security3"

>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">


        <div class="navbar-expand-lg" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">



                <li class="nav-item">
                    <a class="nav-link" text="Správa účtů" th:href="@{'/admin/Sprava_Ucty'}">Správa účtů</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" text="Správa produktů" th:href="@{'/admin/Sprava_Produkty'}">Správa produktů</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" text="Správa platforem" th:href="@{'/admin/Sprava_Platformy'}">Správa platforem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" text="Správa stavů" th:href="@{'/admin/Sprava_Stavy'}">Správa stavů</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" text="Správa objednavek" th:href="@{'/admin/Sprava_Objednavek'}">Správa objednavek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" text="Zpět do obchodu" th:href="@{'/SeznamHer'}">Zpět do obchodu</a>
                </li>

                <li class="nav-item">
                <p th:text="${hlaska} ?: ''"></p>
                </li>
            </ul>

        </div>
    </nav>



</div>