<div th:fragment="navbar" id="hornav" class="container no-padding"
     xmlns:th="https://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security3"

>
    <div class="row" >
        <div class="col-md-12 no-padding">
            <div id="hornavZIndex" class="text-center visible-lg">
                <ul id="hornavmenu" class="nav navbar-nav">

                    <div th:if="${!ListPlatformy.isEmpty()}"
                         th:each="platforma : ${ListPlatformy} ">
                        <!-- Blog Item Header -->



                        <li> <a th:text="${platforma.getNazev()}" th:href="@{'SeznamHer'(id=${platforma.getPlatforma_ID()})}"></a></li>

                    </div>

                </ul>

                <a text="SeznamHer" th:href="@{'/'}">Hlávní stránka</a>
                <a text="SeznamHer" th:href="@{'/SeznamHer'}">Všechny produkty</a>
                <a text="SeznamHer" th:href="@{'/Slevy'}">Slevy</a>
                <a text="registrace" th:href="@{'Registrace'}">registrace</a>
                <div th:if="${#authentication.name == 'anonymousUser'}">
                        <span>
                           <a text="Login" th:href="@{'Login'}">Login</a>
                        </span>
                </div>


                <div th:if="${#authentication.getPrincipal()!= 'anonymousUser'}">
                        <span>
                             <a text="SeznamHer" th:href="@{'/ucet/detail'}">Detail účtu</a>
                                   <a text="Odhlasit" href="/logout">Odhlasit se</a>
                                    <label th:text= "${#authentication.name}" >
                                   <a text="Sprava" th:href="@{'/admin/Sprava_Ucty'}">Sprava</a>
                        </span>
                </div>
                <BR>
                <label>Hledejte produkty v naší nabídce: </label>
                <form id="Hledani" th:action="@{/HledaniProduktu}" th:object="${produkt}"
                      method="post" enctype="multipart/form-data">
                    <input name="nalezeno" type="text" id="nalezeno">
                    <input name="action" type="submit" value="Hledat všechny shody" />
                </form>
                <ul name="vysledky" type="text" id="vysledky">
                </ul>
                <p th:text="${hlaska} ?: ''"></p>
            </div>
        </div>
    </div>
</div>