<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->

<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<!--<![endif] th:replace="fragments/importHead :: importTop(title = 'Home')"-->
<head th:replace="fragments/importHead :: importTop(title = 'Detail Admin Objednavky')">   </head>


<!-- Top Menu -->
<div th:replace="~{fragments/admintopnav :: navbar}"></div>
<!-- End Top Menu -->
<div id="post_header" class="container" style="height: 40px">
    <!-- Spacing below header -->
</div>
<div id="content-top-border" class="container">
</div>

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">


                        <div th:if="${objednavka.getPolozky().isEmpty()}" >
                            <label>Nebyly nalezeny žádné produkty</label>
                        </div>

                <H1 th:text="'Objednávka číslo :  '+${objednavka.getObjednavka_ID()}"></H1>
                ID UCTU     <input readonly th:value="${objednavka.getUcet().getUcet_ID()}"type="text"   required minlength="3" maxlength="50" name="jmeno"><br>


                <div th:if="${objednavka.getPolozky()!=null}">
                        <form id="detailform" th:action="@{/admin/upravitadresu}"    method="post" enctype="multipart/form-data">
                            Jmeno     <input th:value="${objednavka.getJmeno()}"type="text"   required minlength="3" maxlength="50" name="jmeno"><br>
                            prijmeni     <input th:value="${objednavka.getPrijmeni()}"type="text"   required minlength="3" maxlength="50" name="prijmeni"><br>
                            Email     <input th:value="${objednavka.getEmail()}"type="email"   required minlength="3" maxlength="50" name="email"><br>
                       Ulice     <input th:value="${objednavka.getAdresa().getUlice()}"type="text"   required minlength="3" maxlength="50" name="ulice"><br>
                            CP<input th:value="${objednavka.getAdresa().getCps()}"type="text"   required minlength="3" maxlength="50" name="cp"><br>
                            Mesto<input th:value="${objednavka.getAdresa().getMesto()}"type="text"   required minlength="3" maxlength="50" name="mesto"><br>
                            PSC<input th:value="${objednavka.getAdresa().getPsc()}"type="text"   required minlength="3" maxlength="50" name="psc"><br>
<input hidden readonly name="id" th:value="${objednavka.getObjednavka_ID()}">
                                <select name="stav" >
                                    <div th:if="${!stavy.isEmpty()}"
                                         th:each="stav : ${stavy} ">

                                        <option  th:value="${stav.getStav_ID()}" th:selected="${stav.getStav_ID()==objednavka.getStav().getStav_ID()}"  th:text="${stav.getNazev()}"></option>

                                    </div>

                                </select>

                            <input readonly hidden name="id"  th:value="${objednavka.getObjednavka_ID()}"  />
                            <input class="btn btn-outline-success my-2 my-sm-0"  name="action" type="submit" value="Upravit Adresu" />
                        </form>


                            <br>
                            <div id="table-wrapper">
                                <div id="table-scroll">
                            <table >

                                <thead>
                                <tr>

                                    <td>Název produktu</td>
                                    <td>Platforma</td>
                                    <td>Počet</td>
                                    <td>cena za kus</td>
                                    <td>Výsledná cena</td>


                                </tr>
                                </thead>
                                <tbody>
                                <!-- Blog Post class="blog-post padding-bottom-20" -->

                                <div th:if="${!objednavka.getPolozky().isEmpty()}"
                                     th:each="polozka : ${objednavka.getPolozky()} ">
                                    <!-- Blog Item Header -->


                                    <tr>

                                        <td> <span th:text="${polozka.getProdukt().getNazev()}" ></span></td>
                                        <td> <span th:text="${polozka.getProdukt().getPlatforma().getNazev()}" ></span></td>
                                        <td> <span th:text="${polozka.getPocet()}" ></span></td>
                                        <td> <span th:text="${polozka.getCena()/polozka.getPocet()}" ></span></td>
                                        <td> <span th:text="${polozka.getCena()}"></span></td>
                                        <td>

                                        </td>
                                </div>




                        </td>

                        </tr>


                    </tbody>
                    </table>









            </div>
        </div>







    </div>

</div>
    </div>  </div></div>
</body>
</html>