<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->

<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<!--<![endif] th:replace="fragments/importHead :: importTop(title = 'Home')"-->
<head th:replace="fragments/importHead :: importTop(title = 'správa platformy')">   </head>


<!-- Top Menu -->
<div th:replace="~{fragments/admintopnav :: navbar}"></div>
<!-- End Top Menu -->
<div id="post_header" class="container" style="height: 40px">
    <!-- Spacing below header -->
</div>
<div id="content-top-border" class="container">
</div>
<!-- === END HEADER === -->
<!-- === BEGIN CONTENT === -->
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">

                <div id="table-wrapper">
                    <div id="table-scroll">
                        <div class="table-responsive">

                            <table class="table">

                            <thead>
                            <tr>
                                <td>ID Stav</td>
                                <td>Název</td>


                            </tr>
                            </thead>
                            <tbody>
                            <!-- Blog Post class="blog-post padding-bottom-20" -->

                            <div th:if="${!ListPlatformy.isEmpty()}"
                                 th:each="platforma : ${ListPlatformy} ">
                                <!-- Blog Item Header -->

                                <form id="UcetFormular" th:action="@{/admin/Sprava_PlatformyUpdate}" th:object="${platforma}"
                                      method="post" enctype="multipart/form-data">
                                    <tr>
                                        <td><input readonly  name="platformaID" th:value="${platforma.getPlatforma_ID()}">
                                        <td> <input  th:value="${platforma.getNazev()}"
                                                     name="nazev"></td>


                                        <td><input class="btn btn-outline-success my-2 my-sm-0"  name="action" type="submit" value="Update" /></td>
                                    </tr>  </form>   </div>
                            </tbody>

                        </table>
                        </div>
                    </div></div>

                <H1>Nová Platforma</H1>
                <div class="table-responsive">

                    <table class="table">

                    <thead>
                    <tr>
                        <td>Název</td>



                    </tr>
                    </thead>
                    <tbody>
                    <!-- Blog Post class="blog-post padding-bottom-20" -->

                    <form id="RegistraceFormular" th:action="@{/admin/Sprava_PlatformyUpdate}"
                          method="post" enctype="multipart/form-data">
                        <tr>
                            <input hidden readonly  name="platformaID" th:value="0">
                            <td> <input  name="nazev"></td>


                            <td><input class="btn btn-outline-success my-2 my-sm-0" name="action" type="submit" value="Create" /></td>

                        </tr>  </form>
                    </tbody>

                </table>
                </div>


            </div>

        </div>
    </div>
</div>
</div>
</body>
</html>