<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->

<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<!--<![endif] th:replace="fragments/importHead :: importTop(title = 'Home')"-->
<head th:replace="fragments/importHead :: importTop(title = 'Sprava účtu')"></head>


<!-- Top Menu -->
<div th:replace="~{fragments/admintopnav :: navbar}"></div>
<!-- End Top Menu -->
<div id="post_header" class="container" style="height: 40px">
    <!-- Spacing below header -->
</div>
<div id="content-top-border" class="container">
</div>
<!-- === END HEADER === -->
<!-- === BEGIN CONTENT === -->
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <form id="Hledani" th:action="@{/admin/hledaniuctu}"
                      method="post" enctype="multipart/form-data">
                    <input class="form-control mr-sm-2" name="nalezeno" type="number" min="0" value="0" id="nalezeno">
                    <input class="btn btn-outline-success my-2 my-sm-0"  name="action" type="submit" value="Hledat přesně daný účet ID "/>
                </form>
                <div id="table-wrapper">
                    <div id="table-scroll">
                        <div class="table-responsive">

                            <table class="table">


                            <thead>
                            <tr>
                                <td>ID Uctu</td>
                                <td>Jmeno</td>
                                <td>Prijmeni</td>
                                <td>Login</td>
                                <td>Heslo</td>
                                <td>ID ADRESA</td>
                                <td>Ulice</td>
                                <td>CP</td>
                                <td>Mesto</td>
                                <td>PSC</td>
                                <td>Typ Účtu</td>
                                <td>PSC</td>

                            </tr>
                            </thead>
                            <tbody>
                            <!-- Blog Post class="blog-post padding-bottom-20" -->
                            <div th:if="${!UcetStranka.isEmpty()}"
                                 th:each="ucet : ${UcetStranka} ">
                                <!-- Blog Item Header -->

                                <form id="UcetFormular" th:action="@{/admin/UpdateUcetSprava}" th:object="${ucet}"
                                      method="post" enctype="multipart/form-data">
                                    <tr>
                                        <td><a th:href="@{'/admin/ucetdetail'('id'=${ucet.getUcet_ID()})}"><label
                                                readonly name="id" th:text="${ucet.getUcet_ID()}"></label></a></td>

                                        <td><input th:value="${ucet.getJmeno()}"
                                                   name="jmeno"></td>
                                        <td><input th:value="${ucet.getPrijmeni()}"
                                                   name="prijmeni"></td>
                                        <td><input th:value="${ucet.getUcet_login()}"
                                                   name="login"></td>
                                        <td><input th:value="${ucet.getHeslo()}"
                                                   name="heslo"></td>
                                        <td><input readonly id="adresaID"
                                                   th:value="${ ucet.getAdresa().getAdresa_ID()}"></td>
                                        <td><input th:value="${ucet.getAdresa().getUlice()}"
                                                   name="ulice"></td>
                                        <td><input th:value="${ucet.getAdresa().getCps()}"
                                                   name="cp"></td>
                                        <td><input th:value="${ucet.getAdresa().getMesto()}"
                                                   name="mesto"></td>
                                        <td><input th:value="${ucet.getAdresa().getPsc()}"
                                                   name="psc"></td>
                                        <td>
                                            <div th:text="${ ucet.getTypUctu().getNazev()}"></div>
                                        </td>
                                        <td><input class="btn btn-outline-success my-2 my-sm-0" th:if="${typuctu=='Admin'}" name="action" type="submit"
                                                   value="Delete"/></td>
                                    </tr>
                                </form>
                            </div>
                            </tbody>

                        </table>
                    </div>
                    </div>
                </div>
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Stránky
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                        <span th:each="iterator : ${#numbers.sequence( 0, UcetStranka.totalPages-1)}"
                              class="pagination">

                                    <a th:text="${iterator+1}"
                                       th:href="@{/admin/sprava_ucty(page=${iterator})}"
                                       class="dropdown-item">

                                    </a>

                                </span>
                    </div>
                    <p th:text="'Aktuální stránka je'+${UcetStranka.getNumber()+1}"></p>
                </div>


                <div th:if="${typuctu=='Admin'}" class="table-responsive">
                <H1>Nový účet</H1>
                <table class="table">


                    <thead>
                    <tr>
                        <td>Jmeno</td>
                        <td>Prijmeni</td>
                        <td>Login</td>
                        <td>Heslo</td>
                        <td>Ulice</td>
                        <td>CP</td>
                        <td>Mesto</td>
                        <td>akce</td>


                    </tr>
                    </thead>
                    <tbody>
                    <!-- Blog Post class="blog-post padding-bottom-20" -->

                    <form th:if="${typuctu=='Admin'}" id="RegistraceFormular" th:action="@{/admin/UpdateUcetSprava}"
                          th:object="${ucet}"
                          method="post" enctype="multipart/form-data">
                        <tr>
                            <input hidden readonly name="ucetID" th:value="0">
                            <td><input name="jmeno"></td>
                            <td><input name="prijmeni"></td>
                            <td><input name="login"></td>
                            <td><input name="heslo"></td>
                            <td><input name="ulice"></td>
                            <td><input name="cp"></td>
                            <td><input name="mesto"></td>
                            <td><input name="psc"></td>
                            <td><input class="btn btn-outline-success my-2 my-sm-0" name="action" type="submit" value="Create"/></td>

                        </tr>
                    </form>
                    </tbody>

                </table>
            </div>
            <!--
                                <div class="col-md-2">
                                    <a class="blog-item-header float-right-icon cursor" th:href="@{/admin/ucetUpdate/__${ucet.getUcet_ID()}__}">
                                        <i class="fa fa-pencil-square fa-lg"></i>
                                    </a>
                                    <a
                                            class="blog-item-header float-right-icon cursor" th:href="@{/admin/__${ucet.getUcet_ID()}__/delete}"
                                    >
                                        <i class="fa fa-trash-o fa-lg"></i>
                                    </a>
                                </div>                  -->


        </div>

    </div>
</div>
</div>
</div>
</body>
</html>