<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->

<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/importHead :: importTop(title = 'Registrace')">   </head>
<body>


<!-- Top Menu -->

<!-- End Top Menu -->
<div id="post_header" class="container" style="height: 40px">
    <!-- Spacing below header -->
</div>
<div id="content-top-border" class="container">
</div>
<!-- === END HEADER === -->
<!-- === BEGIN CONTENT === -->
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">


                <a text="SeznamHer" th:href="@{'/'}">Zpět do obchodu</a>

                <H1>Registrace nového uživatele</H1>

                <!-- Blog Post class="blog-post padding-bottom-20" -->
                <p th:text="${hlaska} ?: ''"></p>
                <form id="LoginFormular" th:action="@{/RegistraceAkce}"
                      method="post" enctype="multipart/form-data">

                    login:   <input th:value="${login} ?: ''" type="text"   required minlength="3" maxlength="30"  name="login"> <br>
                    heslo:  <input th:value="${heslo} ?: ''" type="password"   required minlength="5" maxlength="30" name="heslo"> <br>
                    jmeno:  <input th:value="${jmeno} ?: ''"  type="text"   required minlength="3" maxlength="50" name="jmeno"> <br>
                    prijmeni:  <input th:value="${prijmeni} ?: ''"  type="text"   required minlength="3" maxlength="50" name="prijmeni"> <br>
                    email:  <input th:value="${email} ?: ''"  type="email"   required minlength="3" maxlength="50" name="email"> <br>
                    ulice:  <input th:value="${ulice} ?: ''"  type="text"   required minlength="3" maxlength="50" name="ulice"> <br>
                    číslo popisné:  <input th:value="${cp} ?: ''"  type="text"   required minlength="3" maxlength="50" name="cp"> <br>
                    město:  <input th:value="${mesto} ?: ''"  type="text"   required minlength="3" maxlength="50" name="mesto"> <br>
                    poštovní směrovací číslo:  <input th:value="${psc} ?: ''"  type="text"   required minlength="3" maxlength="30"  name="psc"> <br>
                    <input class="btn btn-outline-success my-2 my-sm-0" name="action" type="submit" value="Zaregistrovat se" />
                </form>




            </div>

        </div>
    </div>
</div>
</body>
</html>