<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->

<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<!--<![endif] th:replace="fragments/importHead :: importTop(title = 'Home')"-->
<head th:replace="fragments/importHead :: importTop(title = 'Susenka')">   </head>


<!-- Top Menu -->
<div th:replace="~{fragments/topnav :: navbar}"></div>
<!-- End Top Menu -->
<div id="post_header" class="container" style="height: 40px">
    <!-- Spacing below header -->
</div>
<div id="content-top-border" class="container">
</div>

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">

                <div id="table-wrapper">
                    <div id="table-scroll">
                        <div th:if="${kos==''}" >
                            <label>Nebyly nalezeny žádné produkty</label>
                        </div>
                        <span th:text="${kos}" ></span>

                     Pocet polozek v kosiku   <span th:text="${pocetpolozekvkosiku}" ></span><br>
                     PocetPolozek v poli   <span th:text="${pocetpolozek}" ></span><BR>
                        <span th:text="${hodnote}" ></span><BR>

                        <div th:if="${#authentication.getPrincipal()== 'anonymousUser'}">
                        <span>

                          <label th:text= "Anonym" >
                         </span>
                        </div>
                        <div th:if="${#authentication.getPrincipal()!= 'anonymousUser'}">
                            <div th:if="${#typUctu== 'Admin'}">
                        <span>

                                    <label text= "admin" >

                        </span>
                            </div>
                            <div th:if="${#typUctu== 'Pracovnik'}">
                        <span>

                                    <label text= "Pracovnik" >

                        </span>
                            </div>
                            <div th:if="${#typUctu== 'Zakaznik'}">
                        <span>

                                    <label text= "Zakaznik" >

                        </span>
                            </div>
                        </div>

                    </div>
                </div>




            </div>

        </div>
    </div>
</div>
</div>

</body>
</html>