<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/importHead :: importTop(title = 'Home')"></head>
<!--<![endif]-->
<!-- Top Menu -->
<div th:replace="~{fragments/topnav :: navbar}"></div>
<!-- End Top Menu -->
<div id="post_header" class="container" style="height: 40px">
    <!-- Spacing below header -->
</div>
<div id="content-top-border" class="container">
</div>
<!-- === END HEADER === -->
<!-- === BEGIN CONTENT === -->
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <!-- Blog Post -->

                <H1> Vítejte v našem e-shopě</H1>
                <p> Máme pro Vás spoustu produktů v nabídce. Rádi Vám poskytneme náš velký sortiment produktů a pokud by se stalo,že bychom něco neměli v nabídce, co zrovna chcete, tak se neostýchejte nám napsat/zavolat a pokusíme se pro vás tento produkt zařadit do nabídky. </p>

            </div>


        </div>
        <!-- End Main Column -->
        <!-- Side Column -->

        <!-- End Side Column -->
    </div>
</div>
</div>
<!-- === END CONTENT === -->
<div th:replace="~{fragments/footer :: footer}"></div>
<!-- === BEGIN FOOTER === -->

</body>
</html>
<!-- === END FOOTER === -->