<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->

<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<!--<![endif] th:replace="fragments/importHead :: importTop(title = 'Home')"-->

<head th:replace="fragments/importHead :: importTop(title = 'Detail Produktu')">   </head>


<!-- Top Menu -->
<div th:replace="~{fragments/topnav :: navbar}"></div>
<!-- End Top Menu -->
<div id="post_header" class="container" style="height: 40px">
    <!-- Spacing below header -->
</div>
<div id="content-top-border" class="container">
</div>
<!-- === END HEADER === -->
<!-- === BEGIN CONTENT === -->


<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">

                <div id="table-wrapper">
                    <div id="table-scroll">

                            <!-- Blog Post class="blog-post padding-bottom-20" -->

                        <!-- Blog Item Header -->

                        <div th:if="${!ListProdukty.isEmpty()}"
                             th:each="produkt : ${ListProdukty} ">
                        <br>
                            Jméno:<label th:text="${produkt.getNazev()}"></label> <br>
                                     Cena:<label th:text="${produkt.getCena()}" >Kč</label><br>
                                    Sleva:<label  th:text="${produkt.getSleva()}" > %</label><br>
                            Aktuální cena:<label th:text="${produkt.getAktualniCena()}"></label><br>

                            Platforma:<label th:text="${produkt.getPlatforma().getNazev()}"></label><br>

                            <form id="KupProduktForm" th:action="@{/kosikadd}"
                                  method="post" enctype="multipart/form-data">
                                <input hidden readonly  name="id" th:value="${produkt.getProdukt_ID()}">
                                <input   type="number" min="0" step="1" value="1"   name="pocet">
                                <input name="action" type="submit" value="Koupit" />
                            </form>

                        </div>
                    </div>
                </div>




            </div>

        </div>
    </div>
</div>
</div>
</body>
</html>