<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->

<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<!--<![endif] th:replace="fragments/importHead :: importTop(title = 'Home')"-->
<head th:replace="fragments/importHead :: importTop(title = 'Potvrzeni Košiku')">   </head>


<!-- Top Menu -->
<div th:replace="~{fragments/topnav :: navbar}"></div>
<!-- End Top Menu -->
<div id="post_header" class="container" style="height: 40px">
    <!-- Spacing below header -->
</div>
<div id="content-top-border" class="container">
</div>

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">

                <div id="table-wrapper">
                    <div id="table-scroll">
                        <div th:if="${SeznamPolozek.isEmpty()}" >
                            <label>Nebyly nalezeny žádné produkty</label>
                        </div>
                        <div th:if="${!SeznamPolozek.isEmpty()}" >
                            <div class="table-responsive">

                                <table class="table">

                                <thead>
                                <tr>

                                    <td>Název</td>
                                    <td>Cena</td>
                                    <td>sleva</td>
                                    <td>Platforma</td>
                                    <td>počet kopii této hry</td>
                                    <td>Akce</td>

                                </tr>
                                </thead>
                                <tbody>
                                <!-- Blog Post class="blog-post padding-bottom-20" -->

                                <div th:if="${!SeznamPolozek.isEmpty()}"
                                     th:each="polozka : ${SeznamPolozek} ">
                                    <!-- Blog Item Header -->


                                    <tr>

                                        <td> <a th:text="${polozka.getProdukt().getNazev()}" th:href="@{'/DetailProduktu'('produktID'=${polozka.getProdukt().getProdukt_ID()})}" ></span></td>
                                        <td> <span th:text="${polozka.produkt.getCena()}" ></span></td>
                                        <td> <span th:text="${polozka.produkt.getSleva()}" ></span></td>
                                        <td> <span th:text="${polozka.getProdukt().getPlatforma().getNazev()}"></span></td>
                                        <td> <span th:text="${polozka.getPocet()}"></span></td>

                                            </div>

                                            </div>


                                        </td>

                                    </tr>    </div>
                                </tbody>
                            </table>
                </div>



                </div>

                <BR><BR>
                        <form  th:if="${!SeznamPolozek.isEmpty()}" id="createorderform" th:action="@{/vytvoreniobjednavky}"
                              method="post" enctype="multipart/form-data">

                            <input name="action" type="submit" value="Vytvořit objednávku" />
                        </form>


                    </div>
                </div>




            </div>

        </div>
    </div>
</div>
</div>

</body>
</html>