<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->

<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<!--<![endif] th:replace="fragments/importHead :: importTop(title = 'Home')"-->
<head th:replace="fragments/importHead :: importTop(title = 'Home')">   </head>


<!-- Top Menu -->
<div th:replace="~{fragments/topnav :: navbar}"></div>
<!-- End Top Menu -->
<div id="post_header" class="container" style="height: 40px">
    <!-- Spacing below header -->
</div>
<div id="content-top-border" class="container">
</div>
<!-- === END HEADER === -->
<!-- === BEGIN CONTENT === -->
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">

                <div id="table-wrapper">
                    <div id="table-scroll">
                        <div th:if="${ProduktStranka.isEmpty()}" >
                            <label>Nebyly nalezeny žádné produkty</label>
                        </div>
                        <div th:if="${!ProduktStranka.isEmpty()}" >
                        <table >

                            <thead>
                            <tr>

                                <td>Název</td>
                                <td>Cena</td>
                                <td>sleva</td>
                                <td>Platforma</td>

                            </tr>
                            </thead>
                            <tbody>
                            <!-- Blog Post class="blog-post padding-bottom-20" -->

                            <div th:if="${!ProduktStranka.isEmpty()}"
                                 th:each="produkt : ${ProduktStranka} ">
                                <!-- Blog Item Header -->


                                    <tr>

                                        <td> <a th:text="${produkt.getNazev()}" th:href="@{'/DetailProduktu'('produktID'=${produkt.getProdukt_ID()})}" ></td>
                                        <td> <span th:text="${produkt.getCena()}" ></td>
                                        <td> <span th:text="${produkt.getSleva()}" ></td>
                                        <td> <span th:text="${produkt.getPlatforma().getNazev()}"></td>

                                    </tr>    </div>
                            </tbody>

                        </table></div>

                        <ul th:if="${ProduktStranka.totalPages > 0}">
                            Nalezeno celkem stránek:

                            <span th:text="${ProduktStranka.totalPages}"></span><BR>

                            <span th:each="iterator : ${#numbers.sequence( 0, ProduktStranka.totalPages-1)}" class="pagination">
                                    <li class="active pagination">
                                       <span th:if="${typ =='ALL'}">
                                    <a th:text="${iterator+1}"
                                       th:href="@{/SeznamHer(page=${iterator})}"
                                       th:class="${ ProduktStranka.pageable.getPageNumber() ==iterator} ? active">
                                       </a>
                                       </span>
                                    <span th:if="${typ =='SLEVY'}">
                                    <a th:text="${iterator+1}"
                                       th:href="@{/Slevy(page=${iterator})}"
                                       th:class="${ ProduktStranka.pageable.getPageNumber() ==iterator} ? active">
                                       </a>
                                       </span>
                                           <span th:if="${typ =='PLATFORMA'}">
                                    <a th:text="${iterator+1}"
                                       th:href="@{/SeznamHer(page=${iterator},id=${id})}"
                                       th:class="${ ProduktStranka.pageable.getPageNumber() ==iterator} ? active">
                                       </a>
                                       </span>
                                    </li>
                                </span>



                        </ul>
                    </div>
                </div>




            </div>

        </div>
    </div>
</div>
</div>
</body>
</html>