<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->

<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<!--<![endif] th:replace="fragments/importHead :: importTop(title = 'Home')"-->
<head th:replace="fragments/importHead :: importTop(title = 'Vysledek Objednání')">   </head>


<!-- Top Menu -->
<div th:replace="~{fragments/topnav :: navbar}"></div>
<!-- End Top Menu -->
<div id="post_header" class="container" style="height: 40px">
    <!-- Spacing below header -->
</div>
<div id="content-top-border" class="container">
</div>

<div id="content">

</div>

</body>
</html>